<phpunit
	bootstrap="../../plugins/oik-batch/oik-wp.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="bbboing">
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
